
.login-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-card{
        margin: 0 auto;
        max-width: 400px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        padding: 24px;


        .mat-mdc-card-header {
            flex-direction: column;
          

            .logi-title {
                text-align: center;
                padding-bottom: 16px;
            }
        }

        .mat-mdc-card-actions {
            justify-content: center;
        }
      
    }

    .mat-mdc-form-field {
        width: 100%;
    }
}