<div class="login-container">
    <mat-card class="login-card" appearance="outlined">
        <mat-card-header>
            <mat-card-title class="logi-title">Login</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" >
                <mat-form-field appearance="outline">
                    <mat-label>E-mail</mat-label>
                    <input matInput placeholder="Enter username please" formControlName="username">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Enter password please" [type]="passworedType()" formControlName="password">
                    <button mat-icon-button matSuffix (click)="togglePasswordType()">
                        <mat-icon>{{passworedType() === 'password' ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <button matButton="filled" [disabled]="loading()" (click)="login()">
                @if (loading()) {
                    <mat-spinner diameter="20" style="display: inline-block; margin-right: 8px;"></mat-spinner>
                }
                {{ !loading() ? "Login" : "Logging..." }}
            </button>
        </mat-card-actions>
    </mat-card>
</div>