<app-default-layout>
    <div class="page-content">
        <div class="index-tool-container">
            <div class="button-container">
                <button matButton="filled" (click)="openEditor()">
                    <mat-icon>add</mat-icon>
                    Create New 
                </button>
                @if(deleteButton()){
                    <button matButton="filled" class="error" (click)="deleteSelected()">
                        <mat-icon>delete</mat-icon>
                        Delete Selected
                    </button>
                }
            </div>
            <div class="search-container">
                <app-search (searching)="searchKeyword($event)"/>
            </div>
        </div>
        <div class="table-container">
            <app-data-table 
                [loading]="loading()"
                [data]="data()" 
                [actionTemplate]="actionTemplate" 
                [showSelection]="true" 
                [columns]="['title', 'tag', 'author', 'published', 'date']"
                [columnTemplates]="{ tag: tagTemplate, published:publishedTepmlate }"
                [selectionKey]="'id'"
                [selection]="selectedIds()"
                (selectionChange)="onSelectionChange($event)"
            />
            <ng-template #tagTemplate let-row let-value="value">
                <div class="tag-container">
                    @for(tag of getTagContent(value); track tag){
                        <mat-chip >{{tag}}</mat-chip>
                    }
                </div>
            </ng-template>
            <ng-template #publishedTepmlate let-row let-value="value">
                @if(value){
                    <mat-chip class="success">Published</mat-chip>
                }@else{
                    <mat-chip class="info">Draft</mat-chip>
                }
            </ng-template>
            <ng-template #actionTemplate let-row>
                <button 
                    matIconButton 
                    (click)="edit(row)"
                    matTooltip="Edit this article."
                >
                    <mat-icon>edit</mat-icon>
                </button>
            </ng-template>
            
        </div>
        <div class="paginator-container">
            <mat-paginator 
                [length]="totalItems()"
                [pageSize]="20"
                [pageIndex]="currentPage()"
                (page)="onPageChange($event)"
                aria-label="Select page">
            </mat-paginator>
        </div>
    </div>

    <app-article-editor
        [article]="selectedArticle()"
        [open]="editForm()"
        [loading]="savingLoading()"
        (save)="onSave($event)"
        (cancel)="onCancel()"
    />
</app-default-layout>