@use '../../../device.scss' as device;

.form-content {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    max-width: 1024px;
    justify-content: space-between;
    align-items: flex-start;

    * {
        box-sizing: border-box;
    }

    .row {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
       
    }

    .form-field,
    .tag-selection,
    .published {
        width: 100%;

        &.author {
            width: auto;
        }

    }

    .action-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

}

@include device.device-s {
    ::ng-deep .dialog-container {
        align-items: flex-end;
    }
}