
<app-data-dialog 
    [title]="'Create New Article'" 
    [open]="open()"
    (confirm)="confirmEdit()"
    (cancel)="cancelEdit()"
>
    <form [formGroup]="articleForm" >
        <div class="form-content">
            <mat-form-field appearance="outline" class="form-field title">
                <mat-label>title</mat-label>
                <input matInput placeholder="Enter title please" formControlName="title">
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field author">
                <mat-label>author</mat-label>
                <input matInput placeholder="Enter title please" formControlName="author">
            </mat-form-field>
           
            @if(tagData().length > 0){
                <div class="tag-selection" formArrayName="tag">
                    <label>Article Tag：</label>
                    @for(tagItem of tagData(); track tagItem.value; let i = $index) {
                    <mat-checkbox [formControlName]="i">
                        {{ tagItem.name }}
                    </mat-checkbox>
                    }
                </div>
            }
            
            <mat-form-field appearance="outline" class="form-field content">
                <mat-label>Content</mat-label>
                <textarea matInput 
                            placeholder="Enter content please" 
                            formControlName="content"
                            rows="6"
                            cols="50">
                </textarea>
            </mat-form-field>
            
        </div>
    </form>
</app-data-dialog>