<div class="app-container">
    <mat-toolbar class="app-tool">
        <button matIconButton class="drawer-butotn" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
    <mat-drawer-container class="main-container">
        <mat-drawer #drawer mode="over">
            <p>選單項目 1</p>
            <p>選單項目 2</p>
            <p>選單項目 3</p>
        </mat-drawer>
        <mat-drawer-content>
            <ng-content></ng-content>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
