<div class="app-container">
    <mat-toolbar class="app-tool">
        <button matIconButton class="drawer-butotn" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>System Admin</span>
        <span class="spacer"></span>
        <button matIconButton class="drawer-butotn" (click)="logout()" aria-label="Example icon-button with menu icon">
            <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>
    <mat-drawer-container class="main-container">
        <mat-drawer #drawer mode="over">
            <mat-list role="list" class="menu-list">
                @for (menuItem of systemMenu; track menuItem.link) {
                    <mat-list-item role="listitem" [routerLink]="menuItem.link" routerLinkActive="active" class="menu-list-item">
                        <div class="icon">
                            <mat-icon>{{ menuItem.icon }}</mat-icon>
                        </div>
                        <div class="text">{{ menuItem.caption }}</div>
                    </mat-list-item>
                }
            </mat-list>
        </mat-drawer>
        <mat-drawer-content>
            <ng-content></ng-content>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
